html {
  min-height: 100%;
}
body {
  margin-top: -10px;
  min-height: 100%;
  overflow: auto;
}
a {
  text-decoration: none;
  color: white;
}
.resume a:link,
a:visited {
  background-color: #5c5858;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 30px;
  margin-bottom: 20px;
}
.resume a:hover,
a:active {
  background-color: black;
}
.button {
  background-color: #000;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  margin-bottom: 20px;
}
li {
  font-size: 20px;
  display: inline;
  float: right;
  margin: 12px;
}
mark {
  background-color: transparent;
  font-size: 20px;
  color: #5c5858;
}
.title {
  float: left;
  font-size: 20px;
}
.nav {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  color: azure;
  background-color: #000;
}
.nav .ic {
  margin: 7px;
}

@media only screen and (max-width: 600px) {
  .nav .ic {
    margin: 7px 2px;
  }
}

.content {
  width: 50%;
  min-height: 100%;
  justify-content: center;
  text-align: center;
  font-size: 3em;
  margin: 30px auto 100px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
@media only screen and (max-width: 600px) {
  .content {
    width: 90%;
    min-height: 100%;
    justify-content: center;
    text-align: center;
    font-size: 3em;
    margin: 30px auto 100px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}
footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: black;
  color: white;
  text-align: right;
  border-radius: 5px;
}
.socialicons li {
  position: relative;
  top: 0px;
  display: inline;
  padding: 1px;
  font-size: 0px;
  color: white;
}
.socialicons .icon {
  bottom: 10px;
  right: 2px;
  margin: 0 0;
  text-align: center;
  line-height: 5px;
  font-size: 20px;
  color: white;
  border-radius: 50%;
  position: relative;
  overflow: visible;
}
.desc {
  width: 50%;
  min-height: 100%;
  justify-content: center;
  text-align: center;
  font-size: 1.5em;
  margin: 30px auto 100px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
@media only screen and (max-width: 600px) {
  .desc {
    width: 90%;
    min-height: 100%;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
    margin: 30px auto 100px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}
.work-desc {
  width: 50%;
  min-height: 100%;
  justify-content: center;
  text-align: center;
  font-size: 1.5em;
  margin: 30px auto 100px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
@media only screen and (max-width: 600px) {
  .work-desc {
    width: 90%;
    min-height: 100%;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
    margin: 30px auto 100px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}
.info {
  width: 50%;
  min-height: 100%;
  justify-content: center;
  text-align: center;
  font-size: 1.5em;
  margin: 30px auto 100px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
@media only screen and (max-width: 600px) {
  .info {
    width: 70%;
    min-height: 100%;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
    margin: 30px auto 100px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}
input[type="text"],
[type="email"],
textarea {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #5dade2;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
}
.content_images {
  width: 80%;
  min-height: 100%;
  justify-content: center;
  text-align: center;
  font-size: 3em;
  margin: 30px auto 100px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
@media only screen and (max-width: 600px) {
  .content_images {
    width: 80%;
    min-height: 100%;
    justify-content: center;
    text-align: center;
    font-size: 3em;
    margin: 30px auto 100px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}
#memeBtn{
  padding: 5px;
  cursor: pointer;
  border-radius: 8px;
  transition: 250ms;
  width: 100px;
  height: 20px;
  text-align: center;
  margin-left: 5%;
  background: #fff;
  color: #000;
}
#memeBtn:hover{
  transform: scale(1.2);
}
#memes{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  height: 100%;
  overflow: scroll;
  width: 100%;
  padding: 10px;
  margin-left: 10px;
}
#memes div{
  margin: 10px;
  padding: 5px;
  border-radius: 8px;
  height: auto;
  width: 250px;
}
#memes div h4{
  padding: 5px;
  text-align: center;
  background: none;
  color: #111;
  border-radius: 8px;
  margin: 0;
}